  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .person-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }

  .person-card h3 {
    margin-top: 0;
  }

  .person-card ul {
    list-style-type: none;
    padding-left: 0;
  }

  .person-card ul li {
    margin-bottom: 5px;
  }

  .comment {
    color: red;
    font-style: italic;
  }
  
  .persons-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }

  .persons-container .persons-form {
    display: flex;
    flex-direction: column;
  }

  .persons-container .persons-form button {
    background-color: #6db340;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  
  .persons-container .persons-form .boot-form-entry {
    display: flex;
  }
  
  .persons-container .persons-form .boot-form-entry:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .persons-container .persons-form .boot-form-entry label {
    width: 50%;
  }

  .persons-container .persons-table {
    width: 100%;
  }
  
  .persons-container .persons-table .action-button {
    cursor: pointer;
  }
  
  .persons-container .persons-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  